
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-8 sm:px-6 sm:py-16 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% @properties.each do |property| %>
        <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 ">
            <img src="https://imgs.search.brave.com/wTp3ymHZJAMzr9H9yqkE-QGFjBN15EA58ijGDgx3teI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/aXNsYW5kcy5jb20v/d3AtY29udGVudC91/cGxvYWRzLzIwMjEv/MDkvaXNsMDkxM19m/b3J0bGFuZHNwb2lu/dC1qYW1haWNhLmpw/Zw" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-2">
            <div class="flex flex-row justify-between">
                <h3 class="text-base font-medium text-gray-700">
                <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    <%= property.city %>, <%= property.country%>
               
                </a>
                </h3>
                <p class="font-light text-sm">&#9733;4.8</p>
                </div>
                <p class="mt-0.5 text-sm text-gray-500">Hosted By Kaushal</p>
                <p class="mt-0.5 text-sm text-gray-500">19 - 25 Sept</p>
                <p class="mt-0.5 text-sm font-light text-black"><span class="font-medium">$1000</span></p>
                </div>
        </div>
    <%end%>
    </div>
  </div>
</div>